<% if user_signed_in? %>
  <div class="row">
      <br>
      <hr>
    <div class="col-md-4">
      <%= form_tag root_path, :method => 'get', id: "search_form", remote: true do %>
        <div id="food-sorting-options">
          <%= render "foods/food_sorting_options" %>
        </div>
        <div class="form-group">
          <%= text_field_tag :search_term, params[:search_term], class: "form-control", placeholder: "Enter a search term" %>
        </div>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
              <input type='text' name="search_day" id="search_day" placeholder="Enter a day" class="form-control" />
              <span class="input-group-addon">
                  <span id="search-calendar"class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
      <% end %>

      <hr>
      <%= link_to "Enter Food", new_food_path, id: "enter-food-link", class: "btn btn-warning", remote: true %>
      <div id="food-form"></div>
    </div>

    <div id="foods" class="col-md-7 col-md-offset-1">
      <%= render "foods/food" %>
    </div>
  </div>
  <hr>
  <div id="calories-chart">
    <%= render "meals/calories_chart" %>
  </div>

  <!-- <div class="col-xs-6">
    <h3>Visits By Day</h3>
    <%= geo_chart @meals.group(:date).count %>
  </div> -->
<% else %>
  Please log in!
<% end %>
