<table class="table">
  <thead>
    <%= render "foods/food_headers" %>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
    <tr>
      <td><%= meal.food_name %></td>
      <td><%= meal.calories %></td>
      <td><%= meal.date_to_s %></td>
      <td><%= meal.country %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@meals) %>
